
<div class="photo-galerie__container" id="galerie">

  <div class="photo-galerie__slider slider">
    <div class="photo-galerie__slider-wrapper slider__wrapper">
      <div class="photo-galerie__slider-items slider__items">

        <div class="photo-galerie__slider-item slider__item">
          <!-- Контент 1 слайда -->
          <img src="/assets/images/galerie-ph1.png" alt="photo-galerie" class="photo-galerie-images" width="360" height="360" srcset="">

        </div>
        <div class="photo-galerie__slider-item slider__item">
          <!-- Контент 2 слайда -->
          <img src="/assets/images/galerie-ph3.png" alt="photo-galerie" class="photo-galerie-images" width="360" height="360" srcset="">

        </div>
        <div class="photo-galerie__slider-item slider__item">
          <!-- Контент 3 слайда -->
          <img src="/assets/images/galerie-ph4.png" alt="photo-galerie" class="photo-galerie-images" width="360" height="360" srcset="">

        </div>
        <div class="photo-galerie__slider-item slider__item">
          <!-- Контент 4 слайда -->
          <img src="/assets/images/galerie-ph2.png" alt="photo-galerie" class="photo-galerie-images" width="360" height="360" srcset="">

        </div>
        <div class="photo-galerie__slider-item slider__item">
          <!-- Контент 5 слайда -->
          <img src="/assets/images/galerie-ph5.png" alt="photo-galerie" class="photo-galerie-images" width="360" height="360" srcset="">

        </div>
      </div>
    </div>
    <a href="#" class="slider__control" data-slide="prev"></a>
    <a href="#" class="slider__control" data-slide="next"></a>
    <ol class="slider__indicators">
      <li data-slide-to="0"></li>
      <li data-slide-to="1"></li>
      <li data-slide-to="2"></li>
      <li data-slide-to="3"></li>
      <li data-slide-to="4"></li>
      <li data-slide-to="5"></li>

    </ol>
  </div>

</div>