<div class="delicious__container" id="menu">
  <div class="delicious__title">
    <div class="delicious__title-text text--upper">
      delicios menu
    </div>
    <div class="delicious__subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis <br> at velit maximus, molestie est a, tempor magna.
    </div>
  </div>
  <div class="delicious__content">

    <div class="tabs">
      <div class="tabs__nav">
        <a class="tabs__link tabs__link_active" href="#soupe">soupe</a>
        <a class="tabs__link" href="#pizza">pizza</a>
        <a class="tabs__link" href="#pasta">pasta</a>
        <a class="tabs__link" href="#desert">desert</a>
        <a class="tabs__link" href="#wine">wine</a>
        <a class="tabs__link" href="#beer">beer</a>
        <a class="tabs__link" href="#drinks">drinks</a>
      </div>

      <div class="tabs__content">

  <div class="tabs__pane tabs__pane_show" id="soupe">
        @@include('../multimenu-card/grandmultimenu-card.html',{
          "nameDishGrandMulti": "soupe",
          })
          </div>

        <div class="tabs__pane" id="pizza">
          @@include('../multimenu-card/grandmultimenu-card.html',{
            "nameDishGrandMulti": "pizza",
            })
          </div>


          <div class="tabs__pane" id="pasta">
            @@include('../multimenu-card/grandmultimenu-card.html',{
              "nameDishGrandMulti": "pasta",
              })
          </div>

          <div class="tabs__pane" id="desert">
            @@include('../multimenu-card/grandmultimenu-card.html',{
              "nameDishGrandMulti": "desert",
              })
          </div>

          <div class="tabs__pane" id="wine">
            @@include('../multimenu-card/grandmultimenu-card.html',{
              "nameDishGrandMulti": "wine",
              })
          </div>

          <div class="tabs__pane" id="beer">
            @@include('../multimenu-card/grandmultimenu-card.html',{
              "nameDishGrandMulti": "beer",
              })
          </div>

          <div class="tabs__pane" id="drinks">
            @@include('../multimenu-card/grandmultimenu-card.html',{
              "nameDishGrandMulti": "drinks",
              })
          </div>

        </div>
    </div>



  </div>
</div>





