  @@include('../multimenu-card/multimenu-card.html',{
  "nameDishMulti": "@@nameDishGrandMulti-1",
  "nameDish": "@@nameDishGrandMulti",

  })
  @@include('../multimenu-card/multimenu-card.html',{
  "nameDishMulti": "@@nameDishGrandMulti-2",
  "nameDish": "@@nameDishGrandMulti",
  })
  @@include('../multimenu-card/multimenu-card.html',{
  "nameDishMulti": "@@nameDishGrandMulti-3",
  "nameDish": "@@nameDishGrandMulti",
  })
  @@include('../multimenu-card/multimenu-card.html',{
  "nameDishMulti": "@@nameDishGrandMulti-4",
  "nameDish": "@@nameDishGrandMulti",
  })
  @@include('../multimenu-card/multimenu-card.html',{
  "nameDishMulti": "@@nameDishGrandMulti-5",
  "nameDish": "@@nameDishGrandMulti",
  })
  @@include('../multimenu-card/multimenu-card.html',{
  "nameDishMulti": "@@nameDishGrandMulti-6",
  "nameDish": "@@nameDishGrandMulti",
  })
  @@include('../multimenu-card/multimenu-card.html',{
  "nameDishMulti": "@@nameDishGrandMulti-7",
  "nameDish": "@@nameDishGrandMulti",
  })