<table class="delicious__table-@@nameDishMulti">
  <tr>
    <th>
      @@include('../menu-card/menu-card.html',{
      "tag": "div",
      "className": "delicious",
      "nameInput": "@@nameDishMulti",
      "nameId": "@@nameDishMulti 1",
      "cost": "58,54 USD",
      "nameDish": "@@nameDish QUATRO STAGIONI...",
      "description": "Integer ullamcorper neque eu purus euismod",
      })
    </th>
    <th>
      @@include('../menu-card/menu-card.html',{
      "tag": "div",
      "className": "delicious",
      "nameInput": "@@nameDishMulti 2",
      "nameId": "@@nameDishMulti 2",
      "cost": " 12,45 USD",
      "nameDish": "@@nameDish QUATRO STAGIONI...",
      "description": "Integer ullamcorper neque eu purus euismod",
      })
    </th>
    <th>
      @@include('../menu-card/menu-card.html',{
      "tag": "div",
      "className": "delicious",
      "nameInput": "@@nameDishMulti 3",
      "nameId": "@@nameDishMulti 3",
      "cost": " 14,98 USD",
      "nameDish": "@@nameDish QUATRO STAGIONI...",
      "description": "Integer ullamcorper neque eu purus euismod",
      })
    </th>
  </tr>
</table>