<div class="private-events__container" id="events">

  <div class="private-events__title">
    <div class="private-events__title-text text--upper text--white">
      private events
    </div>
  </div>
  <div class="private-events__content">
    <div class="private-events__figure">
    <a href="#" target="_blank" rel="noopener noreferrer" class="private-events__image-left">
      <img src="/assets/images/privateEvents-bg__photo-left.png" alt="wedding" srcset="" class="private-events__image-left">
    </a>

  </div>
  <div class="private-events__figure1">
    <a href="#" target="_blank" rel="noopener noreferrer" class="private-events__image-right">
      <img src="/assets/images/privateEvents-bg__photo-right.png" alt="corporate" srcset="" class="private-events__image-right">
    </a>

    </div>

  </div>

  <div class="private-events__info text--white">For private events please call: +40 729 131 637/+40 726 458 782 or use the contact
    form.</div>

</div>