<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="assets/css/main.css">


  <!-- <link rel="stylesheet" href="assets/css/custom-select.css"> -->
  <script src="https://unpkg.com/imask"></script>


  <title>HUNGER</title>
</head>

<body>

  <header>
  </header>
  <main class="main">

    <div class="header__container-main">
      <div class="header__container">
        @@include('partials/header/header.html')

      </div>
    </div>
    @@include('components/drop-menu/drop-menu.html')

    <!-- @@include('components/About us Section/About us Section.html')
    @@include('components/Team/Team.html')
    @@include('components/booking/booking.html')
    @@include('components/Specialties/Specialties.html')
    @@include('components/Delicious/Delicious.html')
    @@include('components/Private-Events/PrivateEvents.html')
    @@include('components/photo-galerie/photo-galerie.html')
    @@include('components/contact/contact.html')
    @@include('components/map/map.html') -->
  </main>
  <!-- <footer>
    @@include('partials/footer/footer.html')
  </footer> -->

  <script src="assets/js/build.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY&callback=myMap"></script>
</body>

</html>