<main class="main">
  <div class="container">
    <div class="header__main-content">
      @@include('partials/header/header.html')

      <div class="header__text-content">
        <div class="header__icons">
          <img src="assets/images/facebook.svg" alt="facebook" srcset="">
          <img src="assets/images/twitter.svg" alt="twitter" srcset="">
          <img src="assets/images/instagram.svg" alt="instagram" srcset="">
        </div>

        @@include('components/header-content/header-content.html')
        @@include('components/buttons/button.html',{
        "className": "button-colored",
        "text": "BOOK TABLE"
        })
        @@include('components/buttons/button.html',{
        "className": "button-simple",
        "text": "EXPLORE"
        })
      </div>

      <div class="header__btn-down">
        <a href="#">
          <img src="assets/images/down-btn.svg" alt="btn-down" srcset=""></a>
      </div>
    </div>

  </div>

</main>

<div class="photo-galerie__container">

  <div class="photo-galerie__slider">
    <div class="photo-galerie__slider-wrapper">
      <div class="photo-galerie__slider-items">
        <div class="photo-galerie__slider-item">
          <!-- Контент 1 слайда -->
          1
        </div>
        <div class="photo-galerie__slider-item">
          <!-- Контент 2 слайда -->
          2
        </div>
        <div class="photo-galerie__slider-item">
          <!-- Контент 3 слайда -->
          3
        </div>
        <div class="photo-galerie__slider-item">
          <!-- Контент 4 слайда -->
          4
        </div>
        <div class="photo-galerie__slider-item">
          <!-- Контент 5 слайда -->
          5
        </div>
      </div>
    </div>
    <a href="#" class="photo-galerie__slider-control" data-slide="prev"></a>
    <a href="#" class="photo-galerie__slider-control" data-slide="next"></a>
    <ol class="photo-galerie__slider-indicators">
      <li data-slide-to="0"></li>
      <li data-slide-to="1"></li>
      <li data-slide-to="2"></li>
      <li data-slide-to="3"></li>
      <li data-slide-to="4"></li>
    </ol>
  </div>

</div>