<div class="team__container" id="team">

  <div class="team__main-title text--upper text--white">
      our team
  </div>

  <div class="team__content  text--white">
    <img src="/assets/images/Rectangle.png" alt="Rectangle" srcset="" class="team__image image">
    <div class="team__content-text">
      <div class="team__title text--upper">master chef</div>
      <div class="team__sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus,
        molestie est a, tempor magna?</div>
      <p class="team__text">
        Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Seddictum,
        enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauristincidunt feugiat
        diam convallis pharetra. Nulla facilisis semper laoreet.</p>
    </div>
  </div>
</div>

</div>