  <div class="specialties__container">
    <div class="specialties__title-caption text--upper text--white">
      specialties    </div>
    <div class="slider__container">
      <div class="slider">
        <div class="slider__wrapper">
          <div class="slider__items">
            <div class="slider__item">
              <!-- Контент 1 слайда -->
              <div class="specialties__content text--white">
                <img src="/assets/images/Rectangle-ph-spec.png" alt="photo choco-pancakes" srcset="" class="specialties__image">
                <div class="specialties__content-text">
                  <div class="specialties__title text--upper">chocolate pancakes</div>
                  <div class="specialties__sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit
                    maximus, molestie est a, tempor magna.</div>
                  <p class="specialties__text">
                    Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum,
                    enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt
                    feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
                </div>
              </div>
            </div>
            <div class="slider__item">
              <!-- Контент 2 слайда -->
              <div class="specialties__content text--white">
                <img src="/assets/images/Rectangle-ph-spec.png" alt="photo choco-pancakes" srcset="" class="specialties__image">
                <div class="specialties__content-text">
                  <div class="specialties__title text--upper">chocolate pancakes</div>
                  <div class="specialties__sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit
                    maximus, molestie est a, tempor magna.</div>
                  <p class="specialties__text">
                    Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum,
                    enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt
                    feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
                </div>
              </div>
            </div>
            <div class="slider__item">
              <!-- Контент 3 слайда -->
              <div class="specialties__content text--white">
                <img src="/assets/images/Rectangle-ph-spec.png" alt="photo choco-pancakes" srcset="" class="specialties__image">
                <div class="specialties__content-text">
                  <div class="specialties__title text--upper">chocolate pancakes</div>
                  <div class="specialties__sub-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit
                    maximus, molestie est a, tempor magna.</div>
                  <p class="specialties__text">
                    Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum,
                    enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt
                    feugiat diam convallis pharetra. Nulla facilisis semper laoreet.</p>
                </div>
              </div>
            </div>


          </div>
        </div>
        <a href="#" class="slider__control" data-slide="prev"></a>
        <a href="#" class="slider__control" data-slide="next"></a>
        <ol class="slider__indicators specialties__slider-indicators">
          <li data-slide-to="0"></li>
          <li data-slide-to="1"></li>
          <li data-slide-to="2"></li>

        </ol>
      </div>

    </div>





  </div>
  </div>

  </div>