<div class="header__container-navbars" id="header">
  <div class="header__container-navbars-left text--upper ">
    <ul class="header__container-navbar-menu text--upper">
      <li class="header__container-link act">
        <a href="#header" class="header__container-link-a ">home</a></li>
      <li class="header__container-link"><a href="#about" class="header__container-link-a">about</a></li>
      <li class="header__container-link"><a href="#team" class="header__container-link-a">team</a></li>
      <li class="header__container-link"><a href="#booking" class="header__container-link-a">booking</a></li>
    </ul>
  </div>


  <div class=" header__dropdown">
    <a onclick="myFunction()" class="header__dropbtn1">
      <img src="assets/images/drop_menu.svg" alt="drop_menu" srcset="phone" class="header__dropbtn1">
    </a>
    <div id="myDropdown" class="header__dropdown-content">

      <div class="header__dropdown-content-drop-menu-left">
        <a href="#header" class="header__container-link-a">home</a></a>
        <a href="#about" class="header__container-link-a">
          about</a>
        <a href="#team" class="header__container-link-a">team</a>
        <a href="#booking" class="header__container-link-a">booking</a>
      </div>
      <div class="header__dropdown-content-drop-menu-right">
        <a href="#menu" class="header__container-link-a">menu</a>
        <a href="#galerie" class="header__container-link-a">galerie</a>
        <a href="#events" class="header__container-link-a">events</a>
        <a href="#contact" class="header__container-link-a">contact</a>
      </div>


    </div>
  </div>



  <div class="header__logo-name-mob">

    <div class="header__title-logo-phone text--upper text--white">
      hungry
    </div>
    <a href="#" class="header__container-logo">
      <img src="assets/images/Vector.svg" alt="logotype" srcset="desktop" class="header__container-logotype">
    </a>
    <div class="header__title-logo-phone text--upper text--white">
      people
    </div>
  </div>


  <i class="header__fa-phone"> </i>


  <div class="header__container-navbars-right text--white">
    <ul class="header__container-navbar-menu text--upper">
      <li class="header__container-link"><a href="#menu" class="header__container-link-a">menu</a></li>
      <li class="header__container-link"><a href="#galerie" class="header__container-link-a">galerie</a></li>
      <li class="header__container-link"><a href="#events" class="header__container-link-a">events</a></li>
      <li class="header__container-link"><a href="#contact" class="header__container-link-a">contact</a></li>
    </ul>
  </div>
</div>

<div class="header__inner">
  <div class="header__content">

    <h6 class="header__content-info-timetable--horizontal text--white text">
      Mon - Fri: 8PM - 10PM, Sat - Sun: 8PM - 3AM
    </h6>

    <div class="header__content-title text">
      <h6 class="header__content-subtitle text  text--white
  text--upper">
        restaurant
      </h6>

      <h1 class="header__content-h1-style text--upper text--white">
        hungry people
      </h1>
    </div>
    <div class="header__content-buttons">
      @@include('../../components/buttons/button.html',{
      "tag": "a",
      "className": "header",
      "text": "BOOK TABLE",
      "href": "href=",
      "url":"#booking",
      "modifiler":"colored",
      "2className": "text--white",
      "3className": "btn",
      })
      @@include('../../components/buttons/button.html',{
      "tag": "a",
      "className": "header",
      "text": "EXPLORE",
      "href": "href=",
      "url":"#contact",
      "modifier":"simple",
      "2className": "text--white",
      "3className": "btn",
      })
    </div>
    <div class="header__content-info-icons">

      <a href="https://ru-ru.facebook.com/PaulMcCartney" class="header__content-info-icons">
        <img src="assets/images/facebook.svg" alt="facebook" srcset="desktop" class="header__content-icon">
      </a>
      <a href="https://twitter.com/?lang=ru" class="header__content-info-icons">
        <img src="assets/images/twitter.svg" alt="twitter" srcset="desktop" class="header__content-icon">
      </a>
      <a href="https://www.instagram.com/" class="header__content-info-icons">
        <img src="assets/images/instagram.svg" alt="instagram" srcset="desktop" class="header__content-icon">
      </a>
    </div>

  </div>

  <div class="header__btn-down">
    <a href="#about">
      <img src="assets/images/down-btn.svg" class="header__btn-down-icons" alt="btn-down" srcset=""></a>
  </div>
</div>