.about-us
  &__container
    @include option_block
    justify-content: space-around
    height: 675px
    align-content: center
    flex-wrap: wrap
  &__title
    padding: 0px 0px 13px 140px
    font: 36px/48px Banny,
    &::after
      @include after-plank( 54px, 0px, 0px, -117px, 60px, 5.11px)
  &__sub-title
    font: bold 18px/28px 'OpenSansBold', sans-serif
    font-weight: 700
    padding: 12px 0px 12px 0px
    margin: 0px 0px 0px 65px
    width: 600px
  &__text
    font: 15px/24px OpenSans-Regular,sans-serif
    margin: 5px 0 0px 62px
    padding: 0px 10px 0px 10px
    width: 599px
  &__content-text
    display: flex
    justify-content: center
    flex-direction: column
    width: 600px
    font-size: $mediumsize
    // margin: 0 0px 30px 55px
    &::after
      @include after-frame(0px, 0px, 0px, 1075px, 250px, 250px)

  &__image
    padding: 3px 117px 0px 0px
