<div class="about-us__container" id="about">


  <section class="about-us__content">
    <h1 class="about-us__content-title text--upper">about us</h1>
    <h3 class="about-us__content-subtitle  hidden__for-1024px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Duis at velit
      maximus,
      molestie est a, tempor magna?</h3>
    <h6 class="about-us__content-text hidden__for-1024px">
      Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum,
      enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat
      diam convallis pharetra. Nulla facilisis semper laoreet.
    </h6>
  </section>
  <!-- </div> -->
  <div class="about-us__content-image">
    <img src="../assets/images/about-img.png" alt="about-img" srcset="" class="about-us__content-image-picture">
  </div>

  <div class="about-us__content-mob">

    <h3 class="about-us__content-subtitle visible__for-1024px">Lorem ipsum dolor sit amet, consectetur adipiscing elit.1
      Duis at velit
      maximus,
      molestie est a, tempor magna?</h3>
    <h6 class="about-us__content-text visible__for-1024px">
      Integer ullamcorper neque eu purus euismod, ac faucibus mauris posuere. Morbi non ultrices ligula. Sed dictum,
      enim sed ullamcorper feugiat, dui odio vehicula eros, a sollicitudin lorem quam nec sem. Mauris tincidunt feugiat
      diam convallis pharetra. Nulla facilisis semper laoreet.
    </h6>
  </div>
</div>